# Environment variables


# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Environment
.venv
venv/
ENV/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log
logs/
.logs/
chat_performance.log
api_performance.log

# MongoDB
data/

# OS specific
.DS_Store
Thumbs.db

# Database files
*.db

# Image files
*.png
*.svg

# Dependencies
node_modules/ 